@font-face {
  font-family: "Mabry";
  src: local("Mabry"), url("./Mabry.ttf") format("opentype");
}

@font-face {
  font-family: "Cal-Sans";
  src: local("Cal-Sans"), url("./CalSans-SemiBold.ttf") format("opentype");
}

.container {
  padding: 4rem;
}

.body {
  /* display: flex;
  flex-direction: column; */
  position: absolute;
  transform-style: preserve-3d;
  margin-top: 25px;
  margin-left: 25px;

  perspective: 300px;
  font-family: "Cal-Sans";
}
.textContainer {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.textContainer p {
  font-size: 8vw;
  font-weight: 700;
  margin: 0px;
  transition: all 0.4s;
  color: rgb(27, 23, 23);
  line-height: 8vw;
}

.textContainer .secondary {
  transform: rotateX(-90deg) translateY(3.5vw);
  transform-origin: bottom center;
  position: absolute;
  top: 0;
  color: rgba(177, 37, 37, 0.622);
  opacity: 0;
}

.textContainer:hover {
  transform: rotateX(90deg);
}

.textContainer:hover .secondary {
  opacity: 1;
}

.textContainer:hover .primary {
  transform: translateY(-100%);
  opacity: 0;
}
