@font-face {
  font-family: "Mabry";
  src: local("Mabry"), url("./Mabry\ Pro\ Black.ttf") format("opentype");
}

@font-face {
  font-family: "Cal-Sans";
  src: local("Cal-Sans"), url("./CalSans-SemiBold.ttf") format("opentype");
}

.container {
  margin: 2%;
  padding: 2.5rem;
}

.header-text {
  color: #ffffffe1;
  font-family: "Cal-Sans";
  font-size: 6rem;
  line-height: 0.9;
  position: relative;
}
.body {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform-style: preserve-3d;
  margin-top: 25px;
  margin-left: 25px;
  perspective: 300px;
  font-family: "Cal-sans";
}
.textContainer {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.textContainer p {
  font-size: 5vw;
  font-weight: 700;
  margin: 0px;
  transition: all 0.4s;
  color: #eaeaea;
  /* color: #2e2e2ef3; */
  line-height: 10px;
  letter-spacing: 5px;
}

.textContainer .secondary {
  transform: rotateX(-90deg) translateY(3.5vw);
  transform-origin: bottom center;
  position: absolute;
  top: 0;
  color: #ffe627;
  opacity: 0;
  letter-spacing: 5px;
}

.textContainer:hover {
  transform: rotateX(90deg);
}

.textContainer:hover .secondary {
  opacity: 1;
}

.textContainer:hover .primary {
  transform: translateY(-100%);
  opacity: 0;
}

.main {
  height: 100vh;
  overflow: hidden;
  .mask {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;

    .span {
      color: #eab136;
      /* color: #1052d8; */
    }
  }
  .mask {
    mask-image: url("./mask.svg");
    mask-repeat: no-repeat;
    /* mask-size: 140px; */
    /* background: #1d1d1d; */
    background: #0a3283;
    /* color: #ffe627; */
    /* background: rgba(255, 230, 39, 0.8); */
    /* background: #1052d8; */
    position: absolute;

    /* color: black; */
  }
}
