@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 43%;
  }
  50% {
    background-position: 100% 58%;
  }
  100% {
    background-position: 0% 43%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 43%;
  }
  50% {
    background-position: 100% 58%;
  }
  100% {
    background-position: 0% 43%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 43%;
  }
  50% {
    background-position: 100% 58%;
  }
  100% {
    background-position: 0% 43%;
  }
}

.ct-header {
  height: 80vh;
  background-image: url("./bubble.gif");
  background-size: 25%;
  background-position: right;
  background-repeat: no-repeat;
}

.contact-h1 {
  font-weight: 800;
  font-size: 7rem;
  line-height: 0.8;
  z-index: 1;
  padding: 9.5rem;
  max-width: 1180px;
  background: linear-gradient(270deg, #005eff, #ffe836, #f55c12, #fc3c07);
  background-size: 800% 800%;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;

  color: #ffffff;
}

.contact-h3 {
  color: rgba(254, 140, 19, 0.879);
  font-weight: 400;
  z-index: 1;
  font-size: 2rem;
  margin-top: -8%;
  margin-left: 10%;
  max-width: 700px;
}

.ct-shape {
  overflow: hidden;
  position: absolute;
  height: 60%;
  width: 30%;
  background-color: #005eff;
  top: 10%;
  left: 60%;
  margin-top: 10%;
  z-index: -1;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.ct-col-1 {
  height: 70vh;

  background-color: #1f3dfe;
}

.ct-col-2 {
  height: 70vh;
  background-color: #ff9900ec;
}

.ct-box-3 {
  height: 70vh;

  background-color: #ef3528ec;
}

@media screen and (max-width: 768px) {
  .ct-header {
    height: 50vh;
    background-image: url("./bubble.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 45%;
  }

  .contact-card-sec {
    height: max-content;
    margin-top: 2rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: 0.5fr;
    gap: 3rem;
  }

  .contact-h1 {
    height: 100vh;
    background-image: url("./Regular_blob.png");
    background-size: cover;
    font-weight: 800;
    text-align: center;
    color: #dfe9f3;
    font-family: "Cal-Sans";
    font-size: 4.5rem;
    line-height: 0.8;
    letter-spacing: -3px;
    position: relative;
    padding: 11rem 3rem;
    width: 350px;
    text-align: left;
    margin-left: 5%;
    background-image: -webkit-radial-gradient(
      circle,
      #3f51b5 0%,
      #ff9800 0%,
      #f44336 50%
    );
  }

  .ct-shape {
    display: none;
    overflow: hidden;
    position: absolute;
    height: 50%;
    width: 80%;
    background-color: #005eff;
    /* top: 10%; */
    left: 15%;
    margin-top: 10%;
    z-index: -1;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
}

@media screen and (max-width: 576px) {
  .contact-h3 {
    color: rgba(254, 140, 19, 0.879);
    font-weight: 400;
    z-index: 1;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
    top: 40px;
    padding: 2rem;
  }

  .contact-h1 {
    height: min-content;
    padding-top: 11rem;
    padding-bottom: 2rem;
  }

  .ct-header {
    height: 74vh;
    background-image: url("./bubble.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 25%;
  }
}
