.pro-header {
  color: white;
  font-size: 5.5rem;
  font-weight: 800;
  padding-top: 6rem;
  margin: auto;
}

.pro-container {
  padding: 3rem 0 5rem;
  position: relative;
  background: linear-gradient(
    -50deg,
    rgba(237, 3, 32, 0.87),
    rgba(242, 121, 1, 0.84) /* #ef2424,
    #f5e022 */
  );

  background-size: cover;
  z-index: 0;
  padding: 6rem;
}

.pro-container h1 {
  color: #fff;
  font-weight: 700;
  font-size: 4rem;
  line-height: 0.8;
  z-index: 1;
}

.pro-container h3 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  z-index: 1;
  font-size: 1.6rem;
  margin-top: -3%;
  margin-left: 7%;
}

.card-container {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1140px;
  margin: 0px auto;
  grid-gap: 15px;
}

.pro-section {
  background: linear-gradient(
    -50deg,
    rgba(237, 3, 32, 0.87),
    rgba(242, 121, 1, 0.84) /* #ef2424,
    #f5e022 */
  );
}

/* .pro-sub {
  font-size: 1rem;
  font-weight: 100;
  color: white;
  margin: 0 auto;
  width: 600px;
} */

.card-title {
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 1px;
}

.card-- {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card-link {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* color: #1052d8;
  background-color: #fafbffde; */
  font-size: 0.5rem;
  padding: 5px;
  border-radius: 5px;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

@media only screen and (max-width: 992px) {
  .card-container {
    grid-template-columns: repeat(2, minmax(300px, auto));
  }

  @media only screen and (max-width: 768px) {
    .card-container {
      grid-template-columns: repeat(1, minmax(300px, auto));
    }
  }
}

body {
  margin-top: 0px;
}

/* .masthead a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  z-index: 1;
}

.masthead a:hover {
  color: #fff;
} */

/* .masthead a:active {
  text-decoration: none;
} */

@media (min-width: 992px) {
  .pro-container h1 {
    font-size: 6rem;
    padding: 3rem;
  }
  .pro-container h2 {
    font-size: 2.5rem;
    padding: 2rem;
    line-height: 1;
  }
  .pro-container .masthead-cards .shape {
    position: absolute;
    height: 100%;
    width: 90%;
    background-color: #1052d8;
    top: 0;
    left: 0;
    margin-top: -90%;
    z-index: -1;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
}

/* .masthead .masthead-cards {
  position: relative;
  z-index: 1;
} */

.pro-container .masthead-cards .shape {
  position: absolute;
  height: 60%;
  width: 30%;
  background-color: #1052d8;
  top: 0;
  left: 60%;
  margin-top: 10%;
  z-index: -1;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

/* .masthead .masthead-cards .card {
  opacity: 1;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05rem;
  color: #201f1f;
  transition: 0.15s all;
} */

@media (max-width: 768px) {
  .pro-container h1 {
    font-size: 4rem;
    padding: 2rem;
    position: relative;
    z-index: 2;
  }
  .pro-container h2 {
    font-size: 1.8rem;
    padding: 1rem;
    line-height: 1;
    z-index: 2;
    position: relative;
  }

  .pro-container .masthead-cards .shape {
    position: absolute;
    height: 70%;
    width: 90%;
    background-color: #1052d8;
    top: 0;
    left: 0;
    margin-top: 10%;
    z-index: -1;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }

  /* .masthead .masthead-cards {
    position: relative;
    z-index: 1;
  } */
}
