/* body {
  margin: 0;


} */

body {
  /* background: linear-gradient(
    -50deg,
    rgba(237, 3, 32, 0.87),
    rgba(242, 121, 1, 0.84),
    #ef2424,
    #f5e022
  );
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  height: 100vh; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
