@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Cal-Sans";
  src: local("Cal-Sans"), url("./Fonts/CalSans-SemiBold.ttf") format("opentype");
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.--footer {
  width: 100%;
  color: rgb(255, 255, 255);
}

.link-row-3 {
  margin-left: 6.5%;
  display: grid;
  grid-template-columns: 0.15fr 0.15fr 0.15fr;
}

.--svg {
  padding-top: 30px;
}

.ft-text {
  background-color: #1a5bda;
  padding: 3rem;
  font-weight: 100;
  margin-top: -20px;
}

.canvas-body {
  background-color: #1053d8f3;
  color: white;
  font-family: "Cal-Sans";
  letter-spacing: 1px;
  font-size: 3rem;
}

.off-nav-btn {
  transition: 0.25s;
  margin-top: 20px;
  margin-left: 20px;
  background-color: transparent;
  background-color: #1053d8;
  border: none;
  position: fixed;
  color: rgb(255, 255, 255);
  z-index: 99;
  left: 0;
  font-weight: 800;
  /* width: 90px; */
  border-radius: 50%;
  /* border-radius: 0px 0px 0px 1px; */
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.off-nav-btn:hover {
  background: #202020;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.off-nav-btn:hover {
  background-color: #ff8000;
  animation: bounce_613 0.4s linear;
}

.off-nav-list {
  display: flex;
  flex-direction: column;
}
.offcanvas-header .btn-close {
  font-family: inherit;
  font-size: 2rem;
  position: relative;
  bottom: 25px;
}

.nav-text {
  font-size: 1rem;
}

.body {
  position: absolute;
  transform-style: preserve-3d;
  perspective: 600px;
  font-family: "Cal-sans";
}
.textContainer {
  position: relative;
  cursor: pointer;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.textContainer p {
  font-size: 2vw;
  font-weight: 700;
  transition: all 0.4s;
  color: #ffffffe6;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 50px;
}

.textContainer .secondary {
  transform: rotateX(-90deg) translateY(3.5vw);
  transform-origin: bottom center;
  position: absolute;
  top: 0;
  color: #fff312da;

  opacity: 0;
}

.textContainer:hover {
  transform: rotateX(90deg);
}

.textContainer:hover .secondary {
  opacity: 1;
}

.textContainer:hover .primary {
  transform: translateY(-100%);
  opacity: 0;
}

.nav-container {
  padding: 1.5rem;
}

@media screen and (max-width: 576px) {
  .ft-text {
    background-color: #1a5bda;
    padding: 4rem;
    font-weight: 100;
    margin-top: -10px;
  }

  .--footer {
    margin-top: 7rem;
    width: 100%;
    color: white;
  }

  .link-row-3 {
    margin-top: -5%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 0.33fr 0.3fr 0.3fr;
  }

  .textContainer p {
    font-size: 4vw;
  }
}

footer {
  width: 100vw;
}
svg {
  bottom: 0px;
}

.foot {
  bottom: 0px;
}

/*Waves*/

.gentle-wave {
  position: relative;
  width: 100%;
  height: 13vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 400px;
}

/* Animation */
.parallax > use {
  animation: move-forever 20s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  width: 100%;
}

.parallax > use:nth-child(2) {
  animation-delay: -4s;
  animation-duration: 13s;
}

@keyframes move-forever {
  to {
    transform: translateX(-100%);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 30px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }
}

/*Other*/

.unique-color-dark {
  background-color: #e91e63 !important;
}
