.btn-grid {
  margin-top: 5%;
  position: relative;
  left: 10%;
  z-index: 5;
}

.--btn {
  font: inherit;
  font-weight: 800;
  width: 156px;
  height: 60px;
  background: #ffffff;
  border-radius: 100px;
  padding: 20px 34px;
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  overflow: hidden;
  text-transform: uppercase;
  border: 1px solid rgb(255, 172, 89);
  color: rgb(255, 172, 89);
}

.btn-before {
  font: inherit;

  color: #1e1c1c;
  text-transform: uppercase;
  font-size: 0.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  letter-spacing: 1px;
}

.btn-one:before {
  content: "projects";
}

.btn-two:before {
  content: "connect";
}

.btn-three:before {
  content: "studio_";
}

.btn-one:after {
  content: "projects";
  margin-top: 1px;
  color: #ffffff;
  background-color: rgb(244, 70, 6);
  width: 156px;
  height: 60px;
  padding: 20px 25px;
}

.btn-two:after {
  content: "meet_rachel";
  margin-top: 1px;
  color: #ffffff;
  background-color: rgb(244, 161, 6);
  width: 156px;
  height: 60px;
  padding: 20px 25px;
}

.btn-three:after {
  margin-top: 1px;
  color: #ffffff;
  content: "art_design";
  background-color: rgb(244, 58, 6);
  width: 156px;
  height: 60px;
  padding: 20px 25px;
}

.--btn:hover:before {
  top: -290px;
}
.--btn:after {
  font: inherit;
  font-size: 1rem;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  text-transform: lowercase;
  letter-spacing: 1px;
}
.--btn:hover:after {
  top: 50%;
}

/* ---------------------btn end  */

@media (max-width: 1206px) {
  .btn-container {
    /* margin: 10%; */
    padding: 0rem;
    margin: 50px -40px;
    padding-left: 15%;
  }

  .btn-three {
    margin-top: 90px;
  }
  .btn-two {
    margin-left: 14rem;
  }
  .btn-one {
    margin-left: 7rem;
  }
}
@media (max-width: 576px) {
  .btn-grid {
    position: relative;
    float: left;
    bottom: 3rem;
    z-index: 5;
  }

  .--btn {
    font: inherit;
    font-weight: 400;
    width: 130px;
    height: 20px;
    background: transparent;
    border-radius: 90px;
    /* padding: 20px 34px; */
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    border: 1px solid rgb(255, 172, 89);
    color: rgb(255, 172, 89);
  }

  .--btn:hover:before {
    top: 0px;
  }

  .btn-three {
    margin-top: 85px;
    margin-left: 8rem;
  }
  .btn-two {
    /* margin-left: 4.3rem; */
    /* margin-top: 170px; */
  }
  .btn-one {
    /* margin-left: 9rem; */
  }
}
